.header {
    position: relative;
    height: 76px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hr1 {
    border: none;
    height: 2px;
    color: #ccc;
    background-color: #ccc;
    text-align: left;
    width: 100%;
}