<div class="page">
  <!-- Header -->
  <app-action-labs-header></app-action-labs-header>

  <main class="content">
    <!-- Tittle -->
    <h2 class="tittle">BRL Exchange Rate</h2>

    <!-- Input and Button -->
    <app-input-exchange
      (showedCurrencyType)="onCurrencyTypeIsUpdated($event)"
      (currencyValue)="onCurrencyValueIsEmited($event)"
      (lastUpdatedDate)="onLastUpdatedDateIsEmited($event)"
      (showDisplayWithTrue)="onDisplayIsTrue($event)"
    ></app-input-exchange>

    <!-- Display -->
    <div *ngIf="displayBasicInfo" class="display">
      <hr class="hr2" />

      <!-- Basic Info -->
      <app-exchange-rate-now
        [currencyValue]="currencyValue"
        [lastUpdatedDate]="lastUpdatedDate"
        [currencyType]="currencyType"
      ></app-exchange-rate-now>

      <!-- More Info Button -->
      <app-more-info-button
        [currencyType]="currencyType"
        (dailys)="onDailysIsEmited($event)"
        (viewMoreInfo)="onViewMoreInfoIsEmited($event)"
      ></app-more-info-button>

      <!-- More Info -->
      <app-daily-information-cards
        [dailys]="dailys"
        [viewMoreInfo]="viewMoreInfo"
      ></app-daily-information-cards>

      <hr class="hr3" />
    </div>
  </main>

  <div class="space-below"></div>

  <!-- Footer -->
  <footer class="footer">
    <p>Copyright 2022 - Action Labs</p>
  </footer>
</div>

<router-outlet></router-outlet>
